.checkoutItem{
    display: flex;
}

.checkoutItem button{
    background-color: #f1be3d;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutItem__info{
    padding:5px;
}