.product{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: flex-end; */
    margin: 12px;
    padding: 12px;
    background-color: white;
}

.product > img{
    max-height: 210px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}

.product button{
    background-color: #f1be3d;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}